.u-data-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;

  &.is-striped{
    tr:nth-child(even){
      background-color: #F8F8F8;
    }
  }

  tbody>tr:hover,
  &.is-striped tbody>tr:hover{
    transition: all .15s ease-in-out;
    background-color: $clr-blue;
    color: #fff;
  }

  svg{
    fill: $clr-blue;
  }
  tr:hover svg{
    fill: #fff;
  }

  td{
    padding: 15px 0;
    font-weight: 300;
    // white-space: nowrap;
  }
  th{
    padding: 22px 0;
  }
}